<!DOCTYPE html>
<html lang="en_US" class="no-js" data-component="mobile-detect">

<head>
  <title>{{package 'name'}}</title>
  <meta name="description" content="{{package 'description'}}">

  <!-- // Configuration meta -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta http-equiv="Accept-CH" content="DPR,Width,Viewport-Width">

  <!-- // Application title - iOS / macOS -->
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-title" content="{{package 'name'}}">
  <meta name="apple-mobile-web-app-title" content="{{package 'description'}}">

  <!-- // Facebook Meta -->
  <meta property="og:type" content="website">
  <meta property="og:url" content="/">
  <meta property="og:title" content="Graffino Ninja">
  <meta property="og:title" content="{{package 'name'}}">
  <meta property="og:locale" content="en_US">
  <meta property="og:description" content="Graffino Ninja">
  <meta property="og:description" content="{{package 'description'}}">
  <meta property="og:image" content="/social.jpg">
  <meta property="og:image:alt" content="Graffino Ninja. Website building webpack flow we use at Graffino.">
  <meta property="og:image:alt" content="{{package 'description'}}">

  <!-- // Twitter Meta -->
  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:title" content="Graffino Ninja">
  <meta name="twitter:description" content="Graffino Ninja. Website building webpack flow we use at Graffino.">
  <meta name="twitter:title" content="{{package 'name'}}">
  <meta name="twitter:description" content="{{package 'description'}}">
  <meta name="twitter:image" content="/social.jpg">
  <meta name="twitter:image:alt" content="Graffino Ninja. Website building webpack flow we use at Graffino.">
  <meta name="twitter:image:alt" content="{{package 'description'}}">

  <!-- // Favicon -->
  <link rel="icon" href="/favicon.ico">
  <!-- Apple Pin Icon -->
  <link rel="mask-icon" href="/pin_icon.svg" color="#000000">
  <!-- Apple Touch Icon -->
  <link rel="apple-touch-icon" href="/touch-icon.png">
  <!-- Apple Startup Image -->
  <link rel="apple-touch-startup-image" href="/touch-startup-image.png">

  <!-- // Manifest file - Android -->
  <link rel="manifest" href="/site.webmanifest">
  <!-- // Manifest file - Windows -->
  <link rel="msapplication-config" href="/browserconfig.xml">

  <!-- // Humans file -->
  <link type="text/plain" rel="author" href="/humans.txt">

  <!-- // Preconnect / Prefetch -->
  <!--
  <link rel="dns-prefetch" href="//example.com">
  <link rel="preconnect" href="//example.com">
  --!>
</head>
<body data-component="browser-update">
  <div class="h-visually-hidden">
   {{{sprite compilation.assets}}}
  </div>


























